<ul style="display: none;" class="pets-available">
  {{#each pets}}
    <li
    >{{_id}}%%{{name}}%%{{type}}%%{{breed}}%%{{age}}%%{{gender}}%%{{breedSize}}%%{{characteristics}}%%{{pictures}}%%{{description}}</li>
  {{/each}}
</ul>
<p style="display: none;" class="user-logged">
  {{userId}}
</p>

<nav class="nav">
  <a href="/home"><img
      src="public/Images/logo.jpg"
      alt="dog logo"
      class="updated-logo"
    /></a>
  <a href="/logout" class="login-button">Logout</a>
</nav>
{{! <ul class="pets-list">
</ul> }}

<div class="tinder-container">

  <div class="pet-details-container">
    <button class="details-back-btn">Back to scrolling!</button>
    <img src="" alt="pet" class="details-img" />
    <p class="details-pet-name"></p>
    <p class="details-pet-type"></p>
    <p class="details-pet-breed"></p>
    <p class="details-pet-breedSize"></p>
    <p class="details-pet-age"></p>
    <p class="details-pet-gender"></p>
    <p class="details-pet-charecterstics"></p>
    <p class="details-pet-health"></p>
    <p class="details-pet-needs"></p>
    <p class="details-pet-houseTrained"></p>
    <p class="details-pet-description">Description:</p>
    <p class="details-pet-description-placeHolder"></p>
    <a href="/adopt" class="adopt-pet">Start the adoption process</a>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"
></script>
<script src="public/js/home.js"></script>