<nav class="nav">
  <a href="/home"><img
      src="public/Images/logo.jpg"
      alt="dog logo"
      class="logo"
    /></a>
  <a href="/logout"><button class="login-button">Logout</button></a>
</nav>
<p class="pets-view-header">Your Short Listed Pets</p>
<div class="pets-view">
  {{#each pets}}
    <div class="pets-view-container">
      <p>{{name}}</p>
      <p>{{type}}</p>
    </div>

  {{/each}}
  {{#each img}}
    <img src="{{this}}" />
  {{/each}}
</div>
<p>Your quiz answers:</p>
<p>Your prefrence for pet choice: {{quiz.Type}}</p>
<p>Your prefrence for pet Age Group: {{age}}</p>
<p>Your prefrence for pet Gender: {{quiz.Gender}}</p>
<p>Your prefrence for pet Breed Size: {{BreedSize}}</p>
<p>Your prefrence for pet activity level: {{Activity}}</p>
<p>Your prefrence for pet Needs: {{quiz.Needs}}</p>
<p>Your prefrence for if pet should be House Trained: {{quiz.House_Trained}}</p>
<div>

</div>